# Activity 4.1 - Cleaning Walmart Data the OpenRefine Way

In this activity, you will practice what you learned in Lecture 4.5 by cleaning up a data set containing information on various Walmart locations.

In [1]:
import pandas as pd
from dfply import *

#### Initial Tasks

1. Try to read in the `./data/Walmart_United_States_&_Canada.csv` file and verify that you get an encoding error.  This means that the [character encoding](https://en.wikipedia.org/wiki/Character_encoding) isn't the default of `utf-8`.  The easiest way to fix this is to open and save the file in Visual Studio Code.

In [2]:
walmart = pd.read_csv("data/Walmart_United_States_&_Canada.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 42095: invalid continuation byte

2. Read in the data to verify that the encoding is fixed, but that there are two more problems.  What are they?

In [5]:
walmart = pd.read_csv("data/Walmart_United_States_&_Canada.csv")
walmart.head()

,-114.005671,51.262567,"Walmart Supercentre; #1050,","2881 Main St SW,Airdrie ,AB T4B 3G5,(403) 945-1295"
0,-111.900542,50.577939,"Walmart Supercentre; #3658,","917 3rd St W,Brooks ,AB T1R 1L5,(403) 793-2111"
1,-114.039133,51.107253,"Walmart Supercentre; #3013,","1110 57th Ave NE,Calgary ,(NOP),AB T2E 9B7,(40..."
2,-114.138488,51.040871,"Walmart Supercentre; #3009,Gas,","1212 37 St SW,Calgary ,(NOP),AB T3C 1S3,(403) ..."
3,-114.028603,50.930551,"Walmart; #1144,","1221 Canyon Meadows Dr SE,Calgary ,AB T2J 6G2,..."
4,-113.911590,51.040090,"Walmart Supercentre; #1136,","255 E Hills Blvd SE,Calgary ,AB T2A 4X7,(403) ..."

There are no headers and we need to separate columns into multiple columns .

3. Take another look at the file in VS Code and determine solutions to the two/three issues, then read in the data correctly by passing `pd.read_csv` the correct defaults for this data. **Note.** Leave the `"` in place for now, as they serve an important role here!

In [ ]:
help(pd.read_csv) # This might help!

In [10]:
walmart = pd.read_csv("data/Walmart_United_States_&_Canada.csv", names = ["Latitude", "Longitude", "Store_Info", "Contact_Info", "Gas", "State/Providence", "Address", "Phone_Number"])
walmart.head()

,Latitude,Longitude,Store_Info,Contact_Info,Gas,State/Providence,Address,Phone_Number
0,-114.005671,51.262567,"Walmart Supercentre; #1050,","2881 Main St SW,Airdrie ,AB T4B 3G5,(403) 945-...",NaN,NaN,NaN,NaN
1,-111.900542,50.577939,"Walmart Supercentre; #3658,","917 3rd St W,Brooks ,AB T1R 1L5,(403) 793-2111",NaN,NaN,NaN,NaN
2,-114.039133,51.107253,"Walmart Supercentre; #3013,","1110 57th Ave NE,Calgary ,(NOP),AB T2E 9B7,(40...",NaN,NaN,NaN,NaN
3,-114.138488,51.040871,"Walmart Supercentre; #3009,Gas,","1212 37 St SW,Calgary ,(NOP),AB T3C 1S3,(403) ...",NaN,NaN,NaN,NaN
4,-114.028603,50.930551,"Walmart; #1144,","1221 Canyon Meadows Dr SE,Calgary ,AB T2J 6G2,...",NaN,NaN,NaN,NaN

<font color="blue"> Your thoughts here </font>

In [12]:
header = ["Latitude", "Longitude", "Store_Info", "Contact_Info", "Gas", "State/Providence", "Address", "Phone_Number"]

walmart = pd.read_csv("data/Walmart_United_States_&_Canada.csv", names = header)
walmart.head()

,Latitude,Longitude,Store_Info,Contact_Info,Gas,State/Providence,Address,Phone_Number
0,-114.005671,51.262567,"Walmart Supercentre; #1050,","2881 Main St SW,Airdrie ,AB T4B 3G5,(403) 945-...",NaN,NaN,NaN,NaN
1,-111.900542,50.577939,"Walmart Supercentre; #3658,","917 3rd St W,Brooks ,AB T1R 1L5,(403) 793-2111",NaN,NaN,NaN,NaN
2,-114.039133,51.107253,"Walmart Supercentre; #3013,","1110 57th Ave NE,Calgary ,(NOP),AB T2E 9B7,(40...",NaN,NaN,NaN,NaN
3,-114.138488,51.040871,"Walmart Supercentre; #3009,Gas,","1212 37 St SW,Calgary ,(NOP),AB T3C 1S3,(403) ...",NaN,NaN,NaN,NaN
4,-114.028603,50.930551,"Walmart; #1144,","1221 Canyon Meadows Dr SE,Calgary ,AB T2J 6G2,...",NaN,NaN,NaN,NaN

## Cleaning up the store information.

As hinted at above, the presence of the `"` meant the two of the columns--one containing the store type/number and the other contain the address/phone number--are combined together.  This was done because some of these entries have a different number of variables.  For example, the store type/number column sometimes occasionally `Gas`.

In this part of the activity, you should apply the iterative OpenRefine approach to separate the information in the store column.

**Warning!** There is one entry that doesn't follow the same pattern as the rest.  You won't find this entry unless you carefully define/fix/eliminate patterns.

In [13]:
from more_dfply import case_when, ifelse
from more_dfply.facets import text_facet, text_filter

In [42]:
# View cell - Gas

(walmart
 >> select(X.Store_Info)
#  >> filter_by(~text_filter(X.Store_Info, 'Diesel', regex = True))
#  >> filter_by(~text_filter(X.Store_Info, 'Gas', regex = True))
 >> filter_by(text_filter(X.Store_Info, "Walmart( Supercenter| Supercentre)?; #\d\d\d\d,", regex = True))
 >> filter_by(X.Store_Info.notna())
 )

/home/dsteberg1/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages/more_dfply/facets.py:30: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  return col.str.contains(pattern, case=case, regex=regex, na=na)

                           Store_Info
0         Walmart Supercentre; #1050,
1         Walmart Supercentre; #3658,
2         Walmart Supercentre; #3013,
3     Walmart Supercentre; #3009,Gas,
4                     Walmart; #1144,
...                               ...
6811  Walmart Supercenter; #4471,Gas,
6812      Walmart Supercenter; #1457,
6813      Walmart Supercenter; #1461,
6814      Walmart Supercenter; #1508,
6815      Walmart Supercentre; #3191,

[4351 rows x 1 columns]

In [45]:
# Transform cell

walmart_clean = (walmart
    >> select(X.Store_Info)
    >> mutate(Gas = case_when((text_filter(X.Store_Info, 'Diesel', regex=True), "Gas/Diesel" ),
                              (text_filter(X.Store_Info, 'Gas', regex=True), "Gas"),
                              (True, "None")))  
    # >> mutate(Store_Number = case_when((text_filter(X.Store_Info, "Walmart( Supercenter| Supercentre)?; #\d\d\d\d,", regex = True), ))  

    # >> mutate(Store_Type = case_when((text_filter(X.Store_Info, "Walmart( Supercenter| Supercentre)?; #\d\d\d\d,", regex = True), X.Store_Info.str.extract("#\d\d\d\d", regex = True)))                
    >> filter_by(X.Gas.notna())
 )

walmart_clean

                           Store_Info   Gas
0         Walmart Supercentre; #1050,  None
1         Walmart Supercentre; #3658,  None
2         Walmart Supercentre; #3013,  None
3     Walmart Supercentre; #3009,Gas,   Gas
4                     Walmart; #1144,  None
...                               ...   ...
6811  Walmart Supercenter; #4471,Gas,   Gas
6812      Walmart Supercenter; #1457,  None
6813      Walmart Supercenter; #1461,  None
6814      Walmart Supercenter; #1508,  None
6815      Walmart Supercentre; #3191,  None

[6816 rows x 2 columns]

## Preview of Coming Attractions

In this module's homework assignment, you will continue to clean up this data set.